/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/07/2015, 11:25:51 AM
    Author     : Your Name
*/


.contenedor{
    font-size: 12px;
    text-align: center;
}   

.item-menu{
    font-size: 11px !important;
    width: 100%;
}   

.header{
    font-size: 13px !important;
}

.label{
    font-size: 12px !important;
}

conten-button{
    text-align: center;
}

.label-button{
    font-size: 18px !important;
}